<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Sign in Template for BootsFaces</title>
	<meta name="author" content="Ricardo Massera"></meta>
	<style type="text/css">
.form-signin {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
}
</style>
</h:head>
<h:body style="padding-top: 60px; background-color: #add;">
	<b:container>
		<h:form styleClass="form-signin" prependId="false">
			<h2 class="form-signin-heading">Please sign in</h2>
			<b:inputText id="username" name="username" styleClass="form-control"
				placeholder="User" autocomplete="off">
				<f:facet name="prepend">
					<b:icon name="user" />
				</f:facet>
			</b:inputText>

			<b:inputText id="password" name="password" styleClass="form-control"
				placeholder="Password" type="password">
				<f:facet name="prepend">
					<b:iconAwesome name="hey" />
				</f:facet>
			</b:inputText>

			<b:commandButton look="primary btn-block" values="Sign in"
				icon="log-in" size="lg" />
		</h:form>
	</b:container>
</h:body>
</html>
