<ui:composition template="templates/base.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="content">
		<h:form id="frm">
			<h1>Product</h1>

			<b:row>
				<b:column col-md="4">
					<b:inputText label="Title"
						value="#{productsFormBean.product.title}" />
				</b:column>
				<b:column col-md="4">
					<b:inputText label="Price"
						value="#{productsFormBean.product.price}" mask="numeric" />
				</b:column>
				<b:column col-md="4">
					<b:selectOneMenu value="#{productsFormBean.product.category}"
						label="category" select2="true">
						<f:selectItem itemLabel="(Please select)" itemValue="" />
						<f:selectItems value="#{productsFormBean.categories}" var="cat"
							itemLabel="#{cat.title}" itemValue="#{cat}" />
					</b:selectOneMenu>
				</b:column>
			</b:row>

			<b:row>
				<b:column col-md="12">
					<b:inputTextarea label="Description"
						value="#{productsFormBean.product.description}" />
				</b:column>

			</b:row>
			<b:row>
				<b:column col-md="12">

					<b:buttonGroup>

						<b:commandButton value="Save" ajax="true" update="@form"
							actionListener="#{productsFormBean.save}" />
						<b:commandButton value="Delete" ajax="true" update="@form"
							actionListener="#{productsFormBean.delete}"
								rendered="#{productsFormBean.product.id != null}" 
							/>
				</b:buttonGroup>
				</b:column>
			</b:row>
		</h:form>
	</ui:define>
</ui:composition>